/*
    Document   : schematizer
    Created on : 09.Kas.2011, 15:25:16
    Author     : Bahtiyar Kaba
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

#main {
    margin: auto auto;
    width:1000px;
}

#imageLefty{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 13%;
    background: url('solframe.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;					
}

#imageRighty{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 13%;
    background: url('sagframe.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;					
}

#logoutBox{
    position: absolute;
    right: 14%;
    top: 20px;
    width: 20%;
    font-family: 'palatino linotype', palatino, serif;				   	
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

#header{

    height: 30px;
    margin: auto;
    font-family: 'palatino linotype', palatino, serif;
    color: #F21818;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

#indexLeftColumn{
    padding-top: 30px;
    padding-bottom: 20px;	
    padding-left: 10px;
    padding-right: 10px;			
    
    
}
#canvasArea{
    
}
#messageArea{
    float: left;
    font-family: 'palatino linotype', palatino, serif;
    width: 70%;
    margin-left:15%;
    margin-bottom: 10px;		
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
#indexRightColumn{
    background: #bbb;
    font-family: 'palatino linotype', palatino, serif;
    width: 25%;
    float: left;
}
#footer{
    background: #ddd;
    clear: left;
}

span.topButton 	{
	cursor: pointer;
   	margin: 5px;
	padding: 5px;	
	line-height: 20px;
	text-align: center;
	font-style: italic;	
	font-weight: bold;
	background: url('Resim5.jpg') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;   
   }
